.all {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
  display: flex;
  animation-duration: 4s;
}

.anim {
  animation-name: anim;
  animation-duration: 4s;
}

@keyframes anim {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

.all img {
  width: 100%;
  object-fit: inherit;
  overflow: hidden;
}
