@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Grape+Nuts&family=Roboto+Serif:opsz,wght@8..144,100&family=Roboto:wght@100;300&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Rubik+Wet+Paint&display=swap");
* {
  font-family: "Roboto";
}
.app {
  overflow-x: hidden;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
